body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.guess-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.response-container > * {
  line-height: 1.5;
  padding: 10px;
  margin-bottom: 10px;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  position: absolute;
  font-size: 2rem;
  left: -100px;
  opacity: 0;
}

.arrow[data-active] {
  opacity: 1;
}

.box {
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.correct-letter {
  background-color: green;
}

.absent-letter {
  background-color: gray;
}

.misplaced-letter {
  background-color: gold;
}
